div{
    background-color:aquamarine;
    padding:30px;
    margin:30px;
    width:250px;
    height:350px;
}
img{
    width:200px;
    border:10px solid gray;
}
h1{
    color:darkgrey;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
}
p{
    color:yellow;
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
}