.flag{
    width:400px;
    height:180px;
    border:2px solid white;
}
.flag-top{
     height:60px;
     background-color:red;
     text-align:center;
     font-size:30px;
}
.flag-middle{
        height:60px;
        background-color:blue;
        position:relative;
}
.flag-center{
    position:absolute;
    top:10px;
    left:180px;
    height:40px;
    width:40px;
    border-radius:50%;
    background-color:white;
    color:black;
    text-align:center;
}
.flag-bottom{
    height:60px;
    background-color:red;
}